button{
  font-size: 23px;
  margin: 0.6rem;
  border-radius: 50%;
  padding: 10px;
  margin-left: -1rem;
  color: rgb(205, 197, 197);
  box-shadow: 0 0 20px #536179, 0 0 40px  #c8e0dc;
  background-color: black;
}

body{
  box-shadow: 0 0 20px #0c0c0d, 0 0 800px  #6a9f94;
  background: #181b16;
  height: 39rem;

  margin-top: 20px;

  color: #000;
  transition: box-shadow 1s ,border 1s , background 1s , color 1s;
}
.calculator:hover{
  box-shadow: 0 0 20px #536179, 0 0 60px  #00E4B6;
  border: 4px solid #536179;
  background: #101111;
  color: #000;
  transition: box-shadow 1s ,border 1s , background 1s , color 1s;
}

.calculator{
    background: rgb(12, 10, 11);
    width: 27rem;
    height: 33rem;
   margin-top: 10px;
   display: inline-block;
  
    transform: translate(420px,1rem);
}

input{
    font-size: 34px;
    box-sizing: border-box;
 
   
}
#screen-cal{
    width: 27rem;
    height: 7rem;
    background-color: black;
    color: antiquewhite;

   
}
#cal_button_small{

  transform: translate(4rem,-8.5rem);
  width: 4rem;
 
  height: 3rem;
}

#cal_button_big{

    transform: translate(6rem,-8.5rem);
    width: 4rem;
    height: 3rem;
  }
 
#cal_button_per{

    transform: translate(8rem,-8.5rem);
    width: 4rem;
    height: 3rem;
  }
 

  #cal_button_AC{

    transform: translate(10rem,-8.5rem);
    width: 4rem;
    height: 3rem;
    color: red;
  }
/* ================================================================================================= */
  #cal_button_divide{

    transform: translate(10rem,-8.5rem);
    width: 4rem;
    height: 3rem;
    color: red;
  }
  #cal_button_9{

    transform: translate(8rem,-8.5rem);
    width: 4rem;
    height: 3rem;
  }

  #cal_button_7{

    transform: translate(4rem,-8.5rem);
    width: 4rem;
    height: 3rem;
  }
  #cal_button_8{
  
      transform: translate(6rem,-8.5rem);
      width: 4rem;
      height: 3rem;
    }
    /* ========================================================================== */


    #cal_button_mul{

        transform: translate(10rem,-8.5rem);
        width: 4rem;
        height: 3rem;
        color: red;
      }
      #cal_button_6{
    
        transform: translate(8rem,-8.5rem);
        width: 4rem;
        height: 3rem;
      }
    
      #cal_button_4{
    
        transform: translate(4rem,-8.5rem);
        width: 4rem;
        height: 3rem;
      }
      #cal_button_5{
      
          transform: translate(6rem,-8.5rem);
          width: 4rem;
          height: 3rem;
        }
        /* =================================================================== */

        

    #cal_button_minus{

        transform: translate(10rem,-8.5rem);
        width: 4rem;
        height: 3rem;
        color: red;
      }
      #cal_button_3{
    
        transform: translate(8rem,-8.5rem);
        width: 4rem;
        height: 3rem;
      }
    
      #cal_button_1{
    
        transform: translate(4rem,-8.5rem);
        width: 4rem;
        height: 3rem;
      }
      #cal_button_2{
      
          transform: translate(6rem,-8.5rem);
          width: 4rem;
          height: 3rem;
        }
/* ================================================================ */


#cal_button_plus{

    transform: translate(10rem,-8.5rem);
    width: 4rem;
    color: red;
    height: 3rem;
  }
  #cal_button_equal{

    transform: translate(8rem,-8.5rem);
    width: 4rem;
    height: 3rem;
  }

  #cal_button_0{

    transform: translate(4rem,-8.5rem);
    width: 4rem;
    height: 3rem;
  }
  #cal_button_dot{
  
      transform: translate(6rem,-8.5rem);
      width: 4rem;
      height: 3rem;
    }
    /* ==FOR SMALL DEVICE */

   @media screen and (max-width:1080px){ 
    button{
      font-size: 23px;
      margin: 0.3rem;
      border-radius: 50%;
      padding: 5px;
      margin-left: -1rem;
      color: rgb(152, 55, 55);
      box-shadow: 0 0 20px #536179, 0 0 40px  #c8e0dc;
      background-color: black;
     }
     .calculator{ 
      width: 24rem;
      margin-left: 15px; 
      margin-top: 10px;
       height: 32rem;  
      transform: translate(-10px,1rem);
  }
  #screen-cal{
    width: 24rem;
    height: 7rem;

}
.calculator_body{
  width: 10rem;
  height: 10rem;
  transform: translate(-23px,10px);
}
   }
   
